body {
  background-image: url("../imgs/congruent_outline.png");
  background-repeat: repeat;
  color: #f8f8f8;
}

body > main {
  margin: 0 10%;
}

main h1 {
  font-size: 1.5em;
}

body a:link, a:visited {
  color: #cce5ff;
}

footer {
  height: 50px;
}

/* Actual Blog Posts */

div.title {
  text-align: center;
  padding: 0.5em;
  font-size: 1.5em;
  background-color: #1a1a1a;
  margin-bottom: 1em;
}

.emphasis {
  color: #1a89ff;
}