/* Blog index elements */

main {
	padding: 20px 0px 20px 0px;
	background-color: white;
}

hr {
	height: 0px;
	border-top: 1px solid #004869;
	width: 80%;
	margin: 0% 10% 0% 10%;
}

.post {
	margin: 0% 10% 0% 10%;
	width: 80%;
	padding: 10px;
}

.post p {
	color: #004869;
	margin-top: 1em;
	margin-bottom: 1em;
}

.post .date {
	font-weight: bold;
}

.post h1 {
	font-size: 1.5em;
	margin-top: 0.5em;
}

.post a:link {
	color: #004869;
}

.post a:visited {
	color: #004869;
}

.post a:hover {
	color: #004869;
	opacity: 0.8;
}

/* For actual blog posts */

main.blog-post {
	padding-left: 5%;
	padding-right: 5%;
	color: #004869
}

main.blog-post p {
	margin-top: 1em;
	margin-bottom: 1em;
}

main ul, main ol {
	margin-top: 1em;
	margin-bottom: 1em;
}