/*

#00647F - Title Bar
#00A1CC - Emphasis
linear-gradient(to bottom,#17414C, #002833 100%) - Navbar gradient

*/

body {
  background-image: url("../imgs/congruent_outline.png");
  background-repeat: repeat;
  color: #f8f8f8;
}

body > main {
  margin: 0 10%;
}

main h1 {
  font-size: 1.5em;
}

body a:link, a:visited {
  color: #ccddff;
}

footer {
  height: 50px;
}

/* Actual Blog Posts */

div.title {
  text-align: center;
  padding: 0.5em;
  font-size: 1.5em;
  background-color: #00647F;
  margin-bottom: 1em;
}

.emphasis {
  color: #00A1CC;
}

blockquote {
  font-size: 1em;
  font-style: italic;
}