/*
* {
	border: 1px solid black;
}
*/

.container {
	 width: 1000px;
	 left: 0; /* Adding left and rightr allows margin: 0 auto to work */
	 right: 0;
	 margin: 0 auto;
}

header {
	width: 100%;
}

header img {
	width: 100%;
	opacity: 0.5;
}

.head-button {
	width: 19.48%; /* This is a hack for the in-line block space problem */
	height: 25px; /* Why does vertical alignment have to be so damn hard */
	display: inline-block;
	text-align: center;
	padding-top: 5px;
}

.head-button:hover {
	background-color: blue; /* Placeholder */
}

content {
	margin-top: 10px;
	width: 30.3%; /* Inherits its 20% width from .container */
	margin: 10px 5px 10px 5px;
	float: left;
	padding: 10px;
	text-align: left;
	display: inline-block;
	border-radius: 5px;
}

content img {
	width: 100%;
}

#profile {
	background-color: blue;
}

#what-i-do {
	background-color: yellow;
}

#what-i-like {
	background-color: red;
}

footer {
	clear: both;
}