* {
	font-family: Cabin, sans-serif;
}

body {
	background-image: url("../imgs/congruent_outline.png");
	background-repeat: repeat;
	color: #F8F8F8;
}

/* Styling on details / summary */

details summary::-webkit-details-marker { 
	display:none; 
	} /* Removes the arrow */

	details summary:focus {
		outline: none;
	}

	/* Summary and Image Styling */

	summary {
		cursor: pointer;
		overflow: hidden;
	}

	div.resume-background {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}

	div.overlap {
		background-color: black;
		opacity: 0.6;
		position: relative;
		width: 100%;
		z-index: 5;
	}

	div.table-container {
		width: 100%;
		position: relative;
		z-index: 10;
	}

	/* Responsive */

	@media all and (min-width: 800px) {

		summary, div.overlap, div.resume-background {
			height: 200px;
		}

		div.resume-background {
			top: -200px;
		}

		div.table-container {
			top: -400px;
		}

		div.table-container > div.table-cell > p.job-title {
			font-size: 2em;
			margin-bottom: 0;
		}

		div.table-container > div.table-cell > p.job-dates {
			font-size: 1em;
			margin-top: 0.5em;
		}

	}

	@media all and (max-width: 800px) {

		summary, div.overlap, div.resume-background {
			height: 100px;
		}

		div.resume-background {
			top: -100px;
		}

		div.table-container {
			top: -200px;
		}

		div.table-container > div.table-cell > p.job-title {
			font-size: 1.25em;
			margin-bottom: 0;
		}

		div.table-container > div.table-cell > p.job-dates {
			font-size: 0.75em;
			margin-top: 0.5em;
		}

	}

	/* Job Details */

	details p, details ul {
		margin: 1em;
	}

	details p.title {
		font-size: 1.1em;
	}

	div.resume-section {
		padding: 1em;
		background-color: #00647F;
		color: #f8f8f8;
		font-size: 1.25em;
	}

	span.emphasis {
		color: #00A1CC; /*Dark Blue*/
		font-weight: bold;
	}

	/* Hover details */

	details:hover div.resume-background {
		-webkit-transform: scale(1.1, 1.1);
		-moz-transform: scale(1.1, 1.1);
		-ms-transform: scale(1.1, 1.1);
		-o-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1)
	}

	details:hover div.overlap {
		opacity: 0.2;
	}

	/* Individual sections */

/*div#contextmedia {
	background-color: rgba(111,36,144,0.7);
}

div#bcg {
	background-color: rgba(2,41,14,0.7);
}

div#gsb {
	background-color: rgba(142,19,14,0.8);
}

div#dbc {
	background-color: rgba(0,171,182,0.8);
}

div#nu {
	background-color: rgba(64,27,106,0.8);
	}*/

	div#contextmedia {
		background-image: url("../imgs/companies/cmh_office_small.jpg");
	}

	div#bcg {
		background-image: url("../imgs/companies/bcg_office.jpg");
	}


	div#gsb {
		background-image: url("../imgs/companies/gsb_campus_small.jpg");
	}

	div#dbc {
		background-image: url("../imgs/companies/chi_bridge.jpg");
	}

	div#nu {
		background-image: url("../imgs/companies/nu_arch.jpg");
	}